.App {
  text-align: center;
  font-family: 'Lora', 'Nanum-Gothic', 'Sacramento-Regular' sans-serif;
  font-display: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { 
    opacity: 0;
    }
  to   { 
    opacity: 1;
  }
}

.animation {
  animation: shakeAnim 1s 1;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
}

.pointerOverEffect {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.pointerOverEffect:hover {
  opacity: 0.6;
}

#content {position:relative}
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
    position:absolute; content:' ';
    width:40px; height: 40px;
    border-color: white; /* or whatever colour */
    border-style:solid; /* or whatever style */
}
#content:before {top:0;left:0;border-width: 3px 0 0 3px}
#content:after {top:0;right:0;border-width: 3px 3px 0 0}
#content>:first-child:before {bottom:0;right:0;border-width: 0 3px 3px 0}
#content>:first-child:after {bottom:0;left:0;border-width: 0 0 3px 3px}

#content-mobile {position:relative}
#content-mobile:before, #content-mobile:after, #content-mobile>:first-child:before, #content-mobile>:first-child:after {
    position:absolute; content:' ';
    width:20px; height: 20px;
    border-color: white; /* or whatever colour */
    border-style:solid; /* or whatever style */
}
#content-mobile:before {top:0;left:0;border-width: 1px 0 0 1px}
#content-mobile:after {top:0;right:0;border-width: 1px 1px 0 0}
#content-mobile>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
#content-mobile>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}

@keyframes fadeInForFlicker { 
  from { opacity: 0; } 
}
 
.animate-flicker-first {
    animation: fadeInForFlicker 1s infinite alternate;
    animation-delay: 0s;
}
 
.animate-flicker-second {
  animation: fadeInForFlicker 1s infinite alternate;
  animation-delay: 200ms;
}

.animate-flicker-third {
  animation: fadeInForFlicker 1s infinite alternate;
  animation-delay: 400ms;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#rotateOnce {
  -webkit-animation: rotating 3s;
  -moz-animation: rotating 3s;
  -ms-animation: rotating 3s;
  -o-animation: rotating 3s;
  animation: rotating 3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#iconedBackground {
  background-image: url("../assets/icons/balloons.svg"), linear-gradient(to bottom,  rgba(255,255,255,0), 40%,rgba(255,255,255,1) 60%);
  background-size: 60%, 100%;
  background-repeat: no-repeat, repeat-x;
  background-position: 70% 40%, 95% 60%;
}

#iconedBackground-mobile {
  background-image: url("../assets/icons/balloons.svg"), linear-gradient(to bottom,  rgba(255,255,255,0), 40%,rgba(255,255,255,1) 60%);
  background-size: 100%, 100%;
  background-repeat: no-repeat, repeat-x;
  background-position: 5% 40%, 95% 60%;
}

.pulse {
  background: transparent;
  box-shadow: 0 0 0 0 rgba(189, 173, 49, 1);
  transform: scale(1);
  animation: pulse-black 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes pulse-black {
  0% {
    transform: scale(0.35);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(189, 173, 49, 0.7);
  }
  
  70% {
    transform: scale(2);
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(189, 173, 49, 0);
  }
  
  100% {
    transform: scale(0.95);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(189, 173, 49, 0);
  }
}

.upanddown {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.shakeMe:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}