body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SacramentoRegular';
  src: local('SacramentoRegular'), url(./assets/fonts/Sacramento-Regular/Sacramento-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraBold';
  src: local('LoraBold'), url(./assets/fonts/Lora/static/Lora-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraBolItalic';
  src: local('LoraBoldItalic'), url(./assets/fonts/Lora/static/Lora-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraItalic';
  src: local('LoraItalic'), url(./assets/fonts/Lora/static/Lora-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraMedium';
  src: local('LoraMedium'), url(./assets/fonts/Lora/static/Lora-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraMediumItalic';
  src: local('LoraMediumItalic'), url(./assets/fonts/Lora/static/Lora-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraRegular';
  src: local('LoraRegular'), url(./assets/fonts/Lora/static/Lora-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraSemiBold';
  src: local('LoraSemiBold'), url(./assets/fonts/Lora/static/Lora-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraSemiBoldItalic';
  src: local('LoraSemiBoldItalic'), url(./assets/fonts/Lora/static/Lora-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraItalicVariableFontwght';
  src: local('LoraItalicVariableFontwght'), url(./assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'LoraVariableFontwght';
  src: local('LoraVariableFontwght'), url(./assets/fonts/Lora/Lora-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicBold';
  src: local('NanumGothicBold'), url(./assets/fonts/Nanum-Gothic/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicExtraBold';
  src: local('NanumGothicExtraBold'), url(./assets/fonts/Nanum-Gothic/NanumGothic-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicRegular';
  src: local('NanumGothicRegular'), url(./assets/fonts/Nanum-Gothic/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'frozbite';
  src: local('frozbite'), url(./assets/fonts/frozbite/FROZBITE.ttf) format('truetype');
}

@font-face {
  font-family: 'kgChristmasTrees';
  src: local('kgChristmasTrees'), url(./assets/fonts/kg-christmas-trees/KGChristmasTrees.ttf) format('truetype');
}

@font-face {
  font-family: 'krystal';
  src: local('krystal'), url(./assets/fonts/krystal/Krystal.ttf) format('truetype');
}

@font-face {
  font-family: 'holeHearted';
  src: local('holeHearted'), url(./assets/fonts/krystal/Hole-Hearted.ttf) format('truetype');
}